@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/images/home.jpg" />
            </div>
        </div>
    </div>
</header>
<div class="container text-center">
    <h1 class="my-4">Welcome to Candidate Qualification</h1>
    <!-- About Us Section -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded" src="~/images/about.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <hr>
</div>

